.btn {
	background-color: transparent;
	// border-radius: 25px;
	padding: 7px 50px;
	font-size: 15px;
	text-transform: uppercase;
	cursor: pointer;
	&--create {
		border: solid 3px #ff00a5;
		color: #fff;
		transition: 0.2s ease;
		&:hover {
			background-color: #ff00a5;
		}
	}
	&--join {
		border: solid 3px #fff;
		background-color: #fff;
		color: #222;
		transition: 0.2s ease;
		&:hover {
			background-color: #828282;
			border-color: #828282;
		}
	}
	&--start {
		border: solid 3px rgb(77, 194, 9);
		background-color: rgb(77, 194, 9);
		color: #222;
		transition: 0.2s ease;
		&:hover {
			background-color: #3d960a;
			border-color: #3d960a;
		}
	}
}
